$liveGameCardBackgroundColor: #242b56;
.kt-pointer{
    cursor : pointer;
}

.kt-live-card {
    background-color: $liveGameCardBackgroundColor;
    color: white;
    padding: 10px 15px;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 2px;
    text-align: center
}

.kt-flex-vertical-center{
    display: flex;
    align-items:center;
}