@inherits LayoutComponentBase
@inject IJSRuntime _jsRunTime
@inject HttpClient _httpClient

<CascadingValue Value="_utilityService">
    @*<div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <div class="main">
                <div class="top-row px-4">
                    <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
                </div>

                <div class="content px-4">
                    @Body
                </div>
            </div>
        </div>*@


  
    @Body



</CascadingValue>


@code{
    UtilityService _utilityService;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        _utilityService = new UtilityService(_jsRunTime, _httpClient);
        _ = _utilityService.SignalRService.ConnectIfNecessary();
        _ = _utilityService.DataProvidor.GetPreLoadData();
    }


}
