<div class="row">
    <div class="col-md-6">
        <SingleLiveMatchComponent />
        <br />
        <SingleUpcomingMatchComponent />
    </div>
    <div class="col-md-6">
        <SingleStandingsComponent />
    </div>
</div>
